<div class="c-content-inner">
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title">示例</p>
      <button type="button" class="btn btn-info" (click)="openInfo()">信息消息框</button>
      <button type="button" class="btn btn-warning" (click)="openWarning()">警告消息框</button>
      <button type="button" class="btn btn-danger" (click)="openError()">错误消息框</button>
      <button type="button" class="btn btn-primary" (click)="openConfirm()">确认框</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="c-mt15">
        <p class="c-line-title">说明</p>
        组件目录:src/app/modules/shared/modal
      </div>
    </div>
  </div>
</div>
